<div
  class="main-container z-3 overflow-auto mt-4"
  id="main-container"
  (scroll)="onScroll($event)"
>
  <div class="col-md-12">
    <div class="row justify-content-evenly">
      <div class="col-md-4">
        <div class="col-md-8 ms-4 position-sticky sticky-sidebar">
          <div class="card pb-3">
            <div class="module-member-bg"></div>
            <div class="nameplate-container">
              <a href="javascript:void(0)" class="text-decoration-none">
                <!-- <i class="fa-solid fa-camera-retro fa-3x text-dark  rounded rounded-circle p-3" *ngIf="profileURL == null"></i> -->
                <div class="rounded rounded-circle">
                  @if (profileURL != null) {
                  <img
                    [src]="profileURL"
                    alt="profile"
                    class="rounded profile-picture rounded-circle"
                  />
                  } @if (profileURL == null) {
                  <img
                    src="assets/camera.png"
                    alt="profile"
                    class="rounded p-2 bg-light profile-picture-icon rounded-circle"
                  />
                  }
                </div>
                <h6 class="mt-3 text-dark fw-bold" (click)="viewProfile()">
                  Welcome, {{ userName | uppercase }}!
                </h6>
              </a>
            </div>
            <input
              type="file"
              id="uploadProfile"
              multiple
              class="d-none"
              accept=".jpg, .jpeg, .png"
              (change)="uploadProfileImg($event)"
            />
            <a
              href="javascript:void(0)"
              class="text-decoration-none"
              (click)="profilefireBrowser()"
              >Add a photo</a
            >
            @for (item of leftMenu; track item) {
            <div
              class="row align-items-center justify-content-between text-muted mt-4 px-3"
            >
              <a
                href="javascript:void(0)"
                class="text-decoration-none d-flex align-items-center text-muted"
              >
                <i class="{{ item.Icon }} fa-lg"></i>
                <div
                  class="pe-2 ps-3 col-lg-10 col-md-10 text-start text-truncate fw-normal"
                >
                  {{ item.Title }}
                </div>
              </a>
            </div>
            } @empty {
            <div>No menu's found</div>
            }
          </div>
        </div>
      </div>
      <div class="col-md-8 d-flex justify-content-start">
        <div class="col-md-6 me-4">
          @if (isPageReady) {
          <!-- Post Section -->
          <div class="col-md-12 card shadow mb-3 pt-3">
            <div class="col-md-12 d-flex align-items-center p-2">
              <div class="col-auto">
                <img
                  src="assets/face.jpg"
                  alt=""
                  class="rounded rounded-circle profile-image"
                />
              </div>
              <button
                class="btn w-100 text-start ms-2 fw-semibold rounded rounded-pill"
                style="background-color: #f1e6e6"
                (click)="postPopup()"
              >
                Start a post
              </button>
            </div>
            <hr />
            <div class="row align-items-center justify-content-evenly mb-3">
              <div class="col-auto">
                <input
                  type="file"
                  id="uploadPost"
                  multiple
                  class="d-none"
                  accept=".jpg, .jpeg, .png, video/mp4, video/x-m4v,video/*"
                  (change)="uploadMessageImg($event)"
                />
                <a
                  href="javascript:void(0)"
                  class="text-decoration-none"
                  (click)="fireBrowserFile()"
                >
                  <i class="fa-regular fa-image"></i>
                  <span class="ps-2">Media</span>
                </a>
              </div>
              <div class="col-auto">
                <a
                  href="javascript:void(0)"
                  class="text-decoration-none"
                  (click)="postJobPopup()"
                >
                  <i class="fa-solid fa-suitcase"></i>
                  <span class="ps-2">Job</span>
                </a>
              </div>
              <div class="col-auto">
                <a href="javascript:void(0)" class="text-decoration-none">
                  <i class="fa-solid fa-clapperboard"></i>
                  <span class="ps-2">Reel</span>
                </a>
              </div>
            </div>
            @if (posts != null && posts.length > 0) {
            <hr />
            @for (item of posts; track item; let i = $index) {
            <div class="p-3" [ngClass]="{ 'pt-0': i == 0 }">
              <div class="col-md-12 d-flex p-2 justify-content-between">
                <div class="col-auto d-flex align-items-center">
                  <div class="col-auto">
                    <img
                      src="assets/face.jpg"
                      alt=""
                      class="rounded rounded-circle profile-image"
                    />
                  </div>
                  <div class="col-auto ms-3 text-start">
                    <div
                      class="mb-0 fw-bold text-start d-flex align-items-center"
                    >
                      {{ item.FullName }}.
                      <!-- <i class="fa-solid fa-circle-check ms-1 text-primary"></i> -->
                      <img
                        src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Twitter_Verified_Badge.svg"
                        class="ms-1"
                        alt=""
                        width="4%"
                      />
                      <!-- <a href="javascript:void(0)" class="text-decoration-none ms-2">Follow</a> -->
                    </div>
                    <small>
                      {{ item.PostedOn | date : "MMMM d, y, h:mm:ss a" }}
                      <i class="fa-solid fa-earth-americas ps-1"></i>
                    </small>
                  </div>
                </div>
              </div>
              <div
                class="description-container text-start"
                [attr.data-name]="'description' + i"
              >
                {{ item.CompleteDescription }}
              </div>
              <p class="mb-0 text-end">
                <a
                  href="javascript:void(0)"
                  class="text-decoration-none pe-auto"
                  (click)="fullTextView($event)"
                  >Read more ...</a
                >
              </p>
              @if (item.Files != null && item.Files.length > 0) {
              <div class="gallery-lightbox-container">
                <div
                  class="gallery"
                  [ngStyle]="{
                    'column-count':
                      item.Files.length == 1 ? 1 : item.Files.length == 2 ? 2 : 3
                  }"
                >
                  @for (data of item.Files; track data; let i = $index) {
                  <div class="gallery-img">
                    @if (data.Format == 'image') {
                    <img
                      (click)="onPreviewImage(i, item.Files)"
                      [src]="data.FilePath"
                      [alt]="data.FileDetailId"
                    />
                    } @if (data.Format == 'video') {
                    <video [src]="data.FilePath" width="100%" controls></video>
                    }
                  </div>
                  }
                </div>
                @if (showMask) {
                <div class="lightbox z-3" @animation2 (click)="onClosePreview()">
                  @if (showCount) {
                  <span class="count">
                    {{ currentIndex + 1 }}/{{ totalImageCount }}
                  </span>
                  } @if (previewImage) {
                  <button class="close-btn" (click)="onClosePreview()">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                  } @if (controls) {
                  <button
                    class="btn-lightbox-carousel btn-prev"
                    (click)="prev($event)"
                  >
                    <i
                      class="fa-solid fa-circle-arrow-left icon-lightbox-carousel icon-prev"
                    ></i>
                  </button>
                  } @if (controls) {
                  <button
                    class="btn-lightbox-carousel btn-next"
                    (click)="next($event)"
                  >
                    <i
                      class="fa-solid fa-circle-arrow-right icon-lightbox-carousel icon-next"
                    ></i>
                  </button>
                  } @if (previewImage) {
                  <div
                    [@animation]="{ value: 'visible' }"
                    (@animation.done)="onAnimationEnd($event)"
                    class="lightbox-img col-md-8"
                  >
                    @if (currentLightboxImage.Format == 'image') {
                    <img
                      [src]="currentLightboxImage.FilePath"
                      [alt]="currentLightboxImage.ImageAlt"
                    />
                    } @if (currentLightboxImage.Format == 'video') {
                    <video
                      [src]="currentLightboxImage.FilePath"
                      style="max-width: 100%; height: 88vh"
                      controls
                    ></video>
                    }
                  </div>
                  }
                </div>
                }
              </div>
              }
              <div
                class="d-flex align-items-center justify-content-between mt-3 px-3 pt-3 border-top"
              >
                <div class="col-auto">
                  @if (!item.IsLiked) {
                  <a
                    href="javascript:void(0)"
                    class="text-decoration-none"
                    (click)="addLike(item)"
                  >
                    <i class="fa-regular fa-thumbs-up pe-2"></i>
                    Like
                  </a>
                  } @if (item.IsLiked) {
                  <a href="javascript:void(0)" class="text-decoration-none">
                    <i class="fa-solid fa-thumbs-up pe-2"></i>
                    Liked
                  </a>
                  }
                </div>
                <div class="col-auto">
                  <a
                    href="javascript:void(0)"
                    class="text-decoration-none"
                    (click)="addComment($event)"
                  >
                    <i class="fa-regular fa-comment-dots pe-2"></i>
                    Comment
                  </a>
                </div>
                <div class="col-auto">
                  <a href="javascript:void(0)" class="text-decoration-none">
                    <i class="fa-solid fa-retweet pe-2"></i>
                    Repost
                  </a>
                </div>
                <div class="col-auto">
                  <a href="javascript:void(0)" class="text-decoration-none">
                    <i class="fa-regular fa-paper-plane pe-2"></i>
                    Send
                  </a>
                </div>
              </div>
              <div class="d-none" data-name="comment-box">
                <div class="d-flex align-items-center mt-3">
                  <i class="fa-regular fa-circle-user pe-2 fa-2x"></i>
                  <div
                    class="col d-flex align-items-center rounded rounded-pill border"
                  >
                    <input
                      type="text"
                      class="form-control rounded rounded-pill border-0"
                      placeholder="Add a comment......"
                      (keydown)="enterComment($event)"
                    />
                    <a
                      href="javascript:void(0)"
                      class="text-decoration-none px-2"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      title="Open emoji keyboard"
                    >
                      <i class="fa-regular fa-face-smile"></i>
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="text-decoration-none pe-3 ps-2"
                    >
                      <i class="fa-regular fa-image"></i>
                    </a>
                  </div>
                </div>
                <div class="text-start mt-2 d-none">
                  <button
                    class="btn btn-primary-c btn-sm rounded rounded-pill px-3"
                  >
                    post
                  </button>
                </div>
              </div>
            </div>
            } } @if (posts == null || posts.length == 0) {
            <div class="mt-3 p-3">
              <h3 class="my-5 py-5 text-dark fw-bold text-center">
                Post not found. Please follow or add friends
              </h3>
              <div class="d-flex align-items-center justify-content-evenly mb-3">
                <a href="javascript:void(0)" class="text-decoration-none">
                  <i class="fa-brands fa-gratipay pe-2"></i>Follow
                </a>
                <a href="javascript:void(0)" class="text-decoration-none">
                  <i class="fa-solid fa-user-plus pe-2"></i>Add Friends
                </a>
              </div>
            </div>
            }
          </div>
          }
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 position-sticky sticky-sidebar">
          <div class="card p-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-10 col-md-9 col-sm-8 text-truncate">
                Manage Pages and profiles
              </div>
              <div class="col-auto">
                <a href="javascript:void(0)" class="text-decoration-none">
                  <i class="fa-solid fa-ellipsis"></i>
                </a>
              </div>
            </div>
            <div class="col-md-12 d-flex align-items-center mt-2 mb-3">
              <div class="col-md-1 overfloe-hidden">
                <img
                  src="assets/face.jpg"
                  alt=""
                  class="rounded rounded-circle"
                  width="100%"
                />
              </div>
              <span class="ps-3 fw-bold">{{ userName | titlecase }}</span>
            </div>
            <div class="text-start mt-3">
              <a
                href="javascript:void(0)"
                class="text-decoration-none text-muted"
                (click)="loadData()"
              >
                <i class="fa-solid fa-house"></i>
                <span class="px-2 mb-0 fw-normal text-truncate">Home</span>
                <i class="fa-solid fa-circle-exclamation"></i>
              </a>
            </div>
            <div class="text-start mt-3">
              <a
                href="javascript:void(0)"
                class="text-decoration-none text-muted"
                (click)="navigateToResumeMaker()"
              >
                <i class="fa-solid fa-house"></i>
                <span class="px-2 mb-0 fw-normal text-truncate"
                  >Resume Maker</span
                >
                <i class="fa-solid fa-circle-exclamation"></i>
              </a>
            </div>
            <div class="text-start mt-3">
              <a
                href="javascript:void(0)"
                class="text-decoration-none text-muted"
                (click)="getMyPost()"
              >
                <i class="fa-solid fa-earth-americas"></i>
                <span class="px-2 mb-0 fw-normal text-truncate">My Post</span>
                <i class="fa-solid fa-circle-exclamation"></i>
              </a>
            </div>
            <div class="text-start mt-3">
              <a
                href="javascript:void(0)"
                class="text-decoration-none text-muted"
                (click)="navToAddFriend()"
              >
                <i class="fa-solid fa-earth-americas"></i>
                <span class="px-2 mb-0 fw-normal text-truncate">Add Friends</span>
                <i class="fa-solid fa-circle-exclamation"></i>
              </a>
            </div>
            <div class="text-start mt-3">
              <a
                href="javascript:void(0)"
                class="text-decoration-none text-muted"
                (click)="gotoResume()"
              >
                <i class="fa-solid fa-file"></i>
                <span class="px-2 mb-0 fw-normal text-truncate"
                  >Create Resume</span
                >
                <i class="fa-solid fa-circle-exclamation"></i>
              </a>
            </div>
            @for (item of rightMenu; track item) {
            <div
              class="row align-items-center justify-content-between text-muted mt-3"
            >
              <div class="col-auto">
                <a
                  href="javascript:void(0)"
                  class="text-decoration-none d-flex align-items-center text-muted"
                >
                  <i class="{{ item.Icon }}"></i>
                  <div
                    class="px-2 mb-0 fw-normal text-truncate col-lg-10 col-md-9 col-sm-8"
                  >
                    {{ item.Title }}
                  </div>
                  <small>
                    <i class="fa-solid fa-circle-exclamation"></i>
                  </small>
                </a>
              </div>
              <div class="col-auto ps-0">
                {{ item.Total }}
              </div>
            </div>
            }
            <hr />
            <div class="text-muted mt-1">
              <a
                href="javascript:void(0)"
                class="text-decoration-none d-flex align-items-center text-muted"
                (click)="gotoMainMenu()"
              >
                <i class="fa-brands fa-mendeley"></i>
                <h6 class="px-2 mb-0 fw-normal">Main menu</h6>
                <small>
                  <i
                    class="fa-solid fa-circle-exclamation"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="Goto main menu"
                  ></i>
                </small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Post Modal -->
<div
  class="modal fade"
  id="postModal"
  tabindex="-1"
  aria-labelledby="postModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-3">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="postModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <textarea
          placeholder="What do you want to talk about?"
          rows="4"
          class="form-control"
        ></textarea>
        <div class="my-3">
          <input
            type="file"
            id="uploadPost"
            multiple
            class="d-none"
            accept=".jpg, .jpeg, .png, video/mp4, video/x-m4v,video/*"
            (change)="uploadMessageImg($event)"
          />
          <a
            href="javascript:void(0)"
            class="text-decoration-none"
            (click)="fireBrowserFile()"
          >
            <i class="fa-regular fa-image"></i>
            <span class="ps-2">Media</span>
          </a>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="savePost()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!--Manage Post Job Modal -->
<div class="modal fade" id="postJobModal" tabindex="-1" aria-labelledby="postJobModalLabel" aria-hidden="true">
  <div class="modal-dialog p-4 modal-dialog-centered modal-xl">
    <div class="modal-content px-3">
      @if (isLoading) {
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="postJobModalLabel">
          {{selectedJobCategoryId == 1 ? "Blue Collar Job Form" : selectedJobCategoryId == 2
              ? "Grey Collar Job Form" : "White Collar Job Form"}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      }
      <div class="modal-body pt-0 text-start">
        <div class="progressbar">
          <div class="progress-line" id="progress"></div>
          <div class="progress-step progress-step-active" [ngClass]="{'pe-auto': formStep > 1}" data-title="Job Type" data-index="1" (click)="previousStep($event)"></div>
          <div class="progress-step" [ngClass]="{'pe-auto': formStep > 2}" data-index="2" (click)="previousStep($event)" data-title="Job Detail"></div>
          <div class="progress-step" [ngClass]="{'pe-auto': formStep > 3}" data-index="3" (click)="previousStep($event)" data-title="Salary Detail"></div>
          <div class="progress-step" [ngClass]="{'pe-auto': formStep > 4}" data-index="4" (click)="previousStep($event)" data-title="Exp. & Working Detail"></div>
          <div class="progress-step" [ngClass]="{'pe-auto': formStep > 5}" data-index="5" (click)="previousStep($event)" data-title="Others Detail"></div>
          <div class="progress-step" data-index="6" (click)="previousStep($event)" data-title="Upload File"></div>
        </div>

          @if (formStep == 1 && jobTypeForm) {
            <form [formGroup]="jobTypeForm">
              <div class="row align-items-center col-md-12">
                @for (item of jobCategory; track item; let i = $index) {
                <a href="javascript:void(0)" (click)="selectJobCategory(item)" class="text-decoration-none my-2 col-md-4">
                  <div class="card px-4 py-2" [ngClass]="{'active-category': selectedJobCategoryId == i + 1}">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img [src]="item.ImgUrl" class="category-img" alt="blue-color-jox"/>
                      </div>
                      <div class="col">
                        <h5 class="text-dark fw-bold mb-0">
                          {{ item.CategoryName }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </a>
                }
              </div>
            </form>
          }
          @else if (formStep == 2) {
            <form [formGroup]="jobTypeForm">
              <div class="col-md-12 mt-2">
                <label class="form-label">Title <span class="text-danger">*</span></label>
                <textarea class="form-control" formControlName="ShortDescription" placeholder="Job Title" maxlength="250" rows="2"
                [ngClass]="{'error-field': submitted && jobTypeFormControl['ShortDescription'].errors !== null && jobTypeFormControl['ShortDescription'].errors['required']}">
                </textarea>
              </div>
              <div class="col-md-12 mt-2">
                <label class="form-label">Job Description <span class="text-danger">*</span></label>
                <textarea class="form-control" formControlName="CompleteDescription" placeholder="Job Description" rows="3"
                [ngClass]="{'error-field': submitted && jobTypeFormControl['CompleteDescription'].errors !== null && jobTypeFormControl['CompleteDescription'].errors['required']}">
                </textarea>
              </div>
              <div class="mt-2 row">
                <div class="col-md-6">
                  <label class="form-label">Catagory Type <span class="text-danger">*</span></label>
                  <bot-multiselect [data]="jobTypeData" (OnSelect)="selectCatagoryType($event)"></bot-multiselect>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Country <span class="text-danger">*</span></label>
                  <bot-autocomplete [data]="countryData" formControlName="CountryId"></bot-autocomplete>
                </div>
              </div>
            </form>
          }
          @else if (formStep == 3 && salaryDetailForm) {
            <form [formGroup]="salaryDetailForm">
              <div class="row mt-3">
                <div class="col-md-6">
                  <fieldset>
                    <legend>CTC: <span class="text-danger">*</span></legend>
                    <div class="row">
                      <div class="col-md-6 d-flex align-items-center">
                        <label class="form-label pe-2">Min</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="MinimunCTC"
                          placeholder="Minimun CTC"
                          [OnlyNumber]="10"
                          [ngClass]="{'error-field': submitted && salaryDetailFormControl['MinimunCTC'].errors !== null && salaryDetailFormControl['MinimunCTC'].errors['required']}"
                        />
                      </div>
                      <div class="col-md-6 d-flex align-items-center">
                        <label class="form-label pe-2">Max</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="MaximunCTC"
                          placeholder="Maximum CTC"
                          [OnlyNumber]="10"
                          [ngClass]="{'error-field': submitted && salaryDetailFormControl['MaximunCTC'].errors !== null && salaryDetailFormControl['MaximunCTC'].errors['required']}"
                        />
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Bonus</label>
                  <input type="text" class="form-control" formControlName="Bonus"
                    placeholder="Bonus" [OnlyNumber]="5"/>
                </div>
              </div>
              <section class="accordion mt-4">
                <div class="tab">
                  <input type="checkbox" class="input-tab" name="accordion-1" id="cb1"/>
                  <label for="cb1" class="tab__label">Allowance</label>
                  <div class="tab__content mx-1">
                    <div class="mt-3 row align-items-center justify-content-between">
                      <div class="col-md-4 mb-3 ms-1 row align-items-center">
                        <div class="form-check col-auto">
                          <input class="form-check-input" type="checkbox" formControlName="IsHRAAllowance" id="IsHRAAllowance"/>
                          <label class="form-check-label text-dark" for="IsHRAAllowance">
                            HRA
                          </label>
                        </div>
                        <div class="col">
                          <input type="text" [readOnly]="salaryDetailFormControl['IsHRAAllowance'].value == false" class="form-control" formControlName="HRAAllowanceAmount" placeholder="HRA Amount" [OnlyNumber]="10"/>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3 row align-items-center">
                        <div class="form-check col-auto">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            formControlName="IsTravelAllowance"
                            id="IsTravelAllowance"
                          />
                          <label
                            class="form-check-label text-dark"
                            for="IsTravelAllowance"
                          >
                            Travel
                          </label>
                        </div>
                        <div class="col">
                          <input
                            type="text"
                            class="form-control"
                            [readOnly]="salaryDetailFormControl['IsTravelAllowance'].value == false"
                            formControlName="TravelAllowanceAmount"
                            placeholder="Travel Amount"
                            [OnlyNumber]="10"
                          />
                        </div>
                      </div>
                      <div class="col-md-4 mb-3 row align-items-center">
                        <div class="form-check col-auto">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            formControlName="IsFoodAllowance"
                            id="IsFoodAllowance"
                          />
                          <label
                            class="form-check-label text-dark"
                            for="IsFoodAllowance"
                          >
                            Food
                          </label>
                        </div>
                        <div class="col">
                          <input
                            type="text"
                            class="form-control"
                            [readOnly]="salaryDetailFormControl['IsFoodAllowance'].value == false"
                            formControlName="FoodAllowanceAmount"
                            placeholder="Food Amount"
                            [OnlyNumber]="10"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Salary Currency <span class="text-danger">*</span></label>
                  <bot-autocomplete [data]="currenciesData" (OnSelect)="selectCurrency($event)" formControlName="SalaryCurrency"></bot-autocomplete>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Special Allowance</label>
                  <input type="number" placeholder="Special Allowance" formControlName="SpecialAllowance" class="form-control">
                </div>
              </div>
            </form>
          }
          @else if(formStep == 4 && ExpWorkingForm){
            <form [formGroup]="ExpWorkingForm">
              <div class="row">
                <div class="col-md-6 mt-3">
                  <fieldset>
                    <legend>Working Exp.</legend>
                    <div class="d-flex align-items-center">
                      <label class="form-label col-md-3">Overseas</label>
                      <div class="col-auto d-flex align-items-center">
                        <select class="form-select" formControlName="OverseasExpYrs">
                          @for (item of totalYears; track item) {
                            <option [value]="item">{{item}}</option>
                          }
                        </select>
                        <label class="form-label mx-2">Yrs</label>
                      </div>
                      <div class="col-auto d-flex align-items-center">
                        <select class="form-select" formControlName="OverseasExpMonth">
                          @for (item of totalMonths; track item) {
                            <option [value]="item">{{item}}</option>
                          }
                        </select>
                        <label class="form-label ms-2">Months</label>
                      </div>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                      <label class="form-label col-md-3">Local</label>
                      <div class="col-auto d-flex align-items-center">
                        <select class="form-select" formControlName="LocalExpYrs">
                          @for (item of totalYears; track item) {
                            <option [value]="item">{{item}}</option>
                          }
                        </select>
                        <label class="form-label mx-2">Yrs</label>
                      </div>
                      <div class="col-auto d-flex align-items-center">
                        <select class="form-select"  formControlName="LocalExpMonth">
                          @for (item of totalMonths; track item) {
                            <option [value]="item">{{item}}</option>
                          }
                        </select>
                        <label class="form-label ms-2">Months</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Working Shift <span class="text-danger">*</span></label>
                    <select class="form-select" formControlName="ShiftId"
                    [ngClass]="{'error-field': submitted && ExpWorkingFormControl['ShiftId'].errors !== null && ExpWorkingFormControl['ShiftId'].errors['required']}">
                      <option [value]="null" disabled>Select Shift</option>
                      <option value="0">Any Shift</option>
                      <option value="1">Morning Shift</option>
                      <option value="2">Day Shift</option>
                      <option value="3">Eevening Shift</option>
                      <option value="4">Night Shift</option>
                    </select>
                  </div>
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Working Hours <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" formControlName="DailyWorkingHours" (input)="allowWorkingHrs($event)" placeholder="Working Hours" maxlength="2"
                    [ngClass]="{'error-field': submitted && ExpWorkingFormControl['DailyWorkingHours'].errors !== null && ExpWorkingFormControl['DailyWorkingHours'].errors['required']}">
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <label class="form-label">Weekend:</label>
                <div class="d-flex flex-wrap">
                  @for(day of days; track day.id) {
                    <div class="day-of-week"
                      [ngClass]="{ 'border-success': day.isEnabled }" (click)="toggleDays(day.id, $event)">
                      <a href="javascript:void(0)"
                        [ngClass]="{'ms-0': day.id == 1, 'blur-text': !day.isEnabled}">
                        {{ day.day }}
                        <i class="fa-solid fa-toggle-on ps-2 text-success"
                          [ngClass]="{ 'd-none': !day.isEnabled }" name="selection-on">
                        </i>
                        <i class="fa-solid fa-toggle-off ps-2 text-muted"
                          [ngClass]="{ 'd-none': day.isEnabled }" name="selection-off"
                          aria-hidden="true">
                        </i>
                      </a>
                    </div>
                  }
                </div>
              </div>
            </form>
          }
          @else if (formStep == 5 && otherDetailForm) {
            <form [formGroup]="otherDetailForm">
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <fieldset>
                      <legend>Age Limit: <span class="text-danger">*</span></legend>
                      <div class="row">
                        <div class="col-md-6 d-flex align-items-center">
                          <label class="form-label pe-2">Min</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="MinAgeLimit"
                            placeholder="Min Age Limit"
                            [OnlyNumber]="2"
                            [ngClass]="{'error-field': submitted && otherDetailFormControl['MinAgeLimit'].errors !== null && otherDetailFormControl['MinAgeLimit'].errors['required']}"
                          />
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                          <label class="form-label pe-2">Max</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="MaxAgeLimit"
                            placeholder="Max Age Limit"
                            [OnlyNumber]="2"
                            [ngClass]="{'error-field': submitted && otherDetailFormControl['MaxAgeLimit'].errors !== null && otherDetailFormControl['MaxAgeLimit'].errors['required']}"
                          />
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-12 mt-3">
                    <fieldset>
                      <legend>Foreign Return:</legend>
                      <div class="row align-items-center">
                        <div class="form-check col-auto ms-2">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            formControlName="IsForeignReturnCompulsory"
                            id="IsForeignReturnCompulsory"
                          />
                          <label
                            class="form-check-label"
                            for="IsForeignReturnCompulsory"
                          >
                            Compulsory
                          </label>
                        </div>
                        <div class="col">
                          <input
                            type="text"
                            class="form-control"
                            [readOnly]="otherDetailFormControl['IsForeignReturnCompulsory'].value == false"
                            formControlName="MinimunDaysRequired"
                            placeholder="Minimun Days Required"
                            [OnlyNumber]="10"
                          />
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-12 mt-3">
                    <fieldset>
                      <legend>Over Time:</legend>
                      <div class="row align-items-center">
                        <div class="form-check col-auto ms-2">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            formControlName="IsOTIncluded"
                            id="IsOTIncluded"
                          />
                          <label class="form-check-label" for="IsOTIncluded">
                            Include
                          </label>
                        </div>
                        <div class="col">
                          <input
                            type="text"
                            class="form-control"
                            [readOnly]="otherDetailFormControl['IsOTIncluded'].value == false"
                            formControlName="MaxOTHours"
                            placeholder="Maximum OT Hours"
                            [OnlyNumber]="1"
                          />
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 text-truncate">
                    <label class="form-label">Medical Insurance</label>
                    <select formControlName="IsMedicalInsuranceProvide" class="form-select">
                      <option [value]="true">Provided By Company</option>
                      <option [value]="false">Not Provided</option>
                    </select>
                  </div>
                  <div class="col-md-12 mt-3">
                    <label class="form-label">No of Vacancy <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="NoOfPosts" placeholder="No of Vacancy" [OnlyNumber]="5"
                    [ngClass]="{'error-field': submitted && otherDetailFormControl['NoOfPosts'].errors !== null && otherDetailFormControl['NoOfPosts'].errors['required']}">
                  </div>
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Visa Type <span class="text-danger">*</span></label>
                    <select class="form-select" formControlName="VisaType"
                    [ngClass]="{'error-field': submitted && otherDetailFormControl['VisaType'].errors !== null && otherDetailFormControl['VisaType'].errors['required']}">
                      <option [value]="null" disabled>Select Visa Type</option>
                      <option value="1">Tourist</option>
                      <option value="2">Employment</option>
                    </select>
                  </div>
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Job Type <span class="text-danger">*</span></label>
                    <select class="form-select" (change)="selectJobType($event)" formControlName="JobTypeId"
                    [ngClass]="{'error-field': submitted && otherDetailFormControl['JobTypeId'].errors !== null && otherDetailFormControl['JobTypeId'].errors['required']}">
                      <option [value]="null" disabled>Select Job Type</option>
                      <option [value]="1">Contractual</option>
                      <option [value]="2">Permanent</option>
                    </select>
                  </div>
                  @if (selectedJobType == 1) {
                    <div class="col-md-12 mt-3">
                      <label class="form-label">Contract Period (Months)</label>
                      <input type="text" class="form-control" formControlName="ContractPeriodInMonths" placeholder="Contract Period In Months" [OnlyNumber]="5">
                    </div>
                  }
                </div>
              </div>
            </form>
          }
          @else if (formStep == 6) {
            <div class="row col-md-12">
              @if (previews.length > 0) {
                <h5>Preview Images</h5>
                <div class="row">
                  @for (item of previews; track item) {
                    <div class="col-md-3 my-2 upload-img position-relative">
                      @if (item.Format == "image") {
                        <img [src]="item.Url" class="img-fluid" alt="image">
                      }
                      @else {
                        <video [src]="item.Url" style="width: 98%; height: 12vh" controls></video>
                      }
                      <a href="javascript:void(0)" class="text-decoration-none position-absolute img-delete-icon"
                      (click)="removePreviewImg(item)">
                        <i class="fa-solid fa-circle-xmark"></i>
                      </a>
                    </div>
                  }
                </div>
              }
              @if (isFilesizeExceed) {
                <span class="ps-3 fw-bold text-danger">File size is exceed from 6MB</span>
              }
              <span class="ps-3 fw-bold text-dark">{{ fileDetail.length > 0 ? fileDetail.length : 0 }} file selected</span>
              <div class="col-md-12 mt-3">
                <input
                  type="file"
                  id="uploadPost"
                  multiple
                  class="d-none"
                  accept=".jpg, .jpeg, .png, image/gif, video/mp4, video/x-m4v,video/*"
                  (change)="uploadMessageImg($event)"
                />
                <button class="btn btn-secondary" (click)="fireBrowserFile()">
                  Browse File
                </button>
                <button
                  class="btn btn-outline-danger ms-2"
                  (click)="cleanFile()"
                >
                  <i class="fa-solid fa-eraser pe-1"></i>
                  Clean file
                </button>
              </div>
            </div>
            @if (uploadedFile.length > 0) {
            <div class="row mt-3">
              @for (item of uploadedFile; track item) {
              <div
                class="col-md-2 mt-2 img-view-container"
                ngClass="position-relative"
              >
                @if (item.Format == 'image') {
                <img
                  [src]="item.FilePath"
                  alt=""
                  srcset=""
                  class=""
                  width="100%"
                />
                } @if (item.Format == 'video') {
                <video
                  [src]="item.FilePath"
                  style="width: 98%; height: 12vh"
                  controls
                ></video>
                }
                <i
                  class="fa-solid fa-xmark remove-img-icon d-none position-absolute"
                  (click)="deleteImgConformPopup(item)"
                ></i>
              </div>
              }
            </div>
            }
          }
      </div>
      <div class="modal-footer border-top-0 pt-0">
        <button
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="reset()"
        >
        <i class="fa-solid fa-rotate-left pe-1"></i>
          Reset
        </button>
        @if (formStep > 1) {
          <button class="btn btn-primary-c" (click)="previousFormStemp()"><i class="fa-solid fa-arrow-left pe-2"></i>Previous</button>
        }
        @if (formStep > 0 && formStep < 6) {
          <button class="btn btn-success" (click)="nextFormStem()">Nex<i class="fa-solid fa-arrow-right ps-2"></i></button>
        }
        @if (formStep == 6) {
          <button
            class="btn btn-primary-c"
            [disabled]="isLoading || isFilesizeExceed"
            (click)="saveJobPost()"
          >
            <i
              class=""
              [ngClass]="{
                'fa-solid fa-solid fa-spinner fa-spin': isLoading,
                'fa-regular fa-square-plus': !isLoading
              }"
            ></i>
            {{ isLoading ? "Processing" : "Publish" }}
          </button>
        }
      </div>
    </div>
  </div>
</div>
