<div class="main-container container z-3">
  <div class="col-md-12">
    <div class="row justify-content-evenly">
      <div class="col-lg-3 col-sm-4 col-md-3 position-sticky sticky-sidebar">
        <div class="card pb-3">
          <div class="module-member-bg">
          </div>
          <div class="nameplate-container">
            <a href="javascript:voi(0)" class="text-decoration-none">
              <!-- <i class="fa-solid fa-camera-retro fa-3x text-dark  rounded rounded-circle p-3" *ngIf="profileURL == null"></i> -->
              <div class="rounded rounded-circle">
                <img [src]="profileURL" alt="profile" *ngIf="profileURL != null" class="rounded profile-picture rounded-circle">
                <img src="assets/camera.svg" alt="profile" *ngIf="profileURL == null" class="rounded p-3 bg-light profile-picture-icon rounded-circle">
              </div>
              <h6 class="mt-3 text-dark fw-bold" (click)="viewProfile()">Welcome, {{userName | uppercase}}!</h6>
            </a>
          </div>
          <input type="file" id="uploadProfile" multiple class="d-none" accept=".jpg, .jpeg, .png" (change)="uploadProfileImg($event)"/>
          <a href="javascript:void(0)" class="text-decoration-none" (click)="profilefireBrowser()">Add a photo</a>
        </div>
        <div class="card px-4 pb-4 pt-2 mt-3">
          <div *ngFor="let item of leftMenu" class="row align-items-center justify-content-between text-muted mt-4">
            <a href="javascript:void(0)" class="text-decoration-none d-flex align-items-center text-muted">
              <i class="{{item.Icon}} fa-lg"></i>
              <div class="pe-2 ps-3 col-lg-10 col-md-10 text-start text-truncate fw-normal ">{{item.Title}}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-6 col-sm-4">
        <ng-container *ngIf="isPageReady">
          <!-- Post Section -->
          <div class="col-md-12 card shadow mb-3 pt-3">
            <div class="col-md-12 d-flex align-items-center p-2">
              <div class="col-auto">
                <img src="assets/face.jpg" alt="" class="rounded rounded-circle profile-image">
              </div>
              <button class="btn w-100 text-start ms-2 fw-semibold rounded rounded-pill" style="background-color: #f1e6e6;" (click)="postPopup()">Start a post</button>
            </div>
            <hr>
            <div class="row align-items-center justify-content-evenly mb-3">
              <div class="col-auto">
                <input type="file" id="uploadPost" multiple class="d-none" accept=".jpg, .jpeg, .png, video/mp4, video/x-m4v,video/*" (change)="uploadMessageImg($event)"/>
                <a href="javascript:void(0)" class="text-decoration-none" (click)="fireBrowserFile()">
                  <i class="fa-regular fa-image"></i>
                  <span class="ps-2">Media</span>
                </a>
              </div>
              <div class="col-auto">
                <a href="javascript:void(0)" class="text-decoration-none" (click)="postJobPopup()">
                  <i class="fa-solid fa-suitcase"></i>
                  <span class="ps-2">Job</span>
                </a>
              </div>
              <div class="col-auto">
                <a href="javascript:void(0)" class="text-decoration-none">
                  <i class="fa-solid fa-clapperboard"></i>
                  <span class="ps-2">Reel</span>
                </a>
              </div>
            </div>
          </div>
          <ng-container *ngIf="posts != null && posts.length > 0">
            <div class="card shadow mt-3 p-3" *ngFor="let item of posts; let i = index;">
              <div class="col-md-12 d-flex  p-2 justify-content-between">
                <div class="col-auto d-flex align-items-center">
                  <div class="col-auto">
                    <img src="assets/face.jpg" alt="" class="rounded rounded-circle profile-image">
                  </div>
                  <div class="col-auto ms-3 text-start">
                    <div class="mb-0 fw-bold text-start d-flex align-items-center">
                      {{item.FullName}}.
                      <!-- <i class="fa-solid fa-circle-check ms-1 text-primary"></i> -->
                      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Twitter_Verified_Badge.svg" class="ms-1" alt="" width="4%">
                      <a href="javascript:void(0)" class="text-decoration-none ms-2">Follow</a>
                    </div>
                    <small>
                      {{item.PostedOn | date: 'MMMM d, y, h:mm:ss a'}}
                      <i class="fa-solid fa-earth-americas ps-1"></i>
                    </small>
                  </div>
                </div>
                <div class="dropdown col-auto" *ngIf="currentUser != null && currentUser.UserId == item.PostedBy">
                  <a href="javascript:void(0)" class="text-decoration-none text-primary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="eidtPost(item)">
                        <i class="fa-solid fa-pencil pe-1"></i>
                        Edit Post
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item mt-2" href="javascript:void(0)" (click)="deletePost(item)">
                        <i class="fa-regular fa-trash-can pe-1"></i>
                        Delet Post
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="description-container text-start" [data-name]="'description'+i">{{item.CompleteDescription}}</div>
              <p class="mb-0 text-end">
                <a href="javascript:void(0)" class="text-decoration-none pe-auto" (click)="fullTextView($event)">Read more ...</a>
              </p>
              <div class="gallery-lightbox-container" *ngIf="item.Files != null && item.Files.length > 0">
                <div class="gallery"  [ngStyle]="{'column-count': item.Files.length == 1 ? 1 : item.Files.length == 2 ? 2 : 3}">
                    <div *ngFor="let data of item.Files; let i=index" class="gallery-img">
                      <ng-container *ngIf="data.Format == 'image'">
                        <img (click)="onPreviewImage(i, item.Files)" [src]="data.FilePath" [alt]="data.FileDetailId">
                      </ng-container>
                      <ng-container *ngIf="data.Format == 'video'">
                        <video [src]="data.FilePath" width="100%" controls></video>
                      </ng-container>
                    </div>
                </div>
                <div *ngIf="showMask" class="lightbox z-3" @animation2 (click)="onClosePreview()">
                  <span *ngIf="showCount" class="count">
                    {{currentIndex + 1}}/{{totalImageCount}}
                  </span>
                  <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                  <button *ngIf="controls" class="btn-lightbox-carousel btn-prev" (click)="prev($event)">
                    <i class="fa-solid fa-circle-arrow-left icon-lightbox-carousel icon-prev"></i>
                  </button>
                  <button *ngIf="controls" class="btn-lightbox-carousel btn-next" (click)="next($event)">
                    <i class="fa-solid fa-circle-arrow-right icon-lightbox-carousel icon-next"></i>
                  </button>
                  <div *ngIf="previewImage"
                      [@animation]="{value: 'visible'}"
                      (@animation.done)="onAnimationEnd($event)"
                      class="lightbox-img col-md-8">
                      <img [src]="currentLightboxImage.FilePath" [alt]="currentLightboxImage.ImageAlt">
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-3 px-3 pt-3 border-top">
                <div class="col-auto">
                  <a href="javascript:void(0)" class="text-decoration-none">
                    <i class="fa-regular fa-thumbs-up pe-2"></i>
                    Like
                  </a>
                </div>
                <div class="col-auto">
                  <a href="javascript:void(0)" class="text-decoration-none" (click)="addComment($event)">
                    <i class="fa-regular fa-comment-dots pe-2"></i>
                    Comment
                  </a>
                </div>
                <div class="col-auto">
                  <a href="javascript:void(0)" class="text-decoration-none">
                    <i class="fa-solid fa-retweet pe-2"></i>
                    Repost
                  </a>
                </div>
                <div class="col-auto">
                  <a href="javascript:void(0)" class="text-decoration-none">
                    <i class="fa-regular fa-paper-plane pe-2"></i>
                    Send
                  </a>
                </div>
              </div>
              <div class="d-none" data-name="comment-box">
                <div class="d-flex align-items-center mt-3">
                  <i class="fa-regular fa-circle-user pe-2 fa-2x"></i>
                  <div class="col d-flex align-items-center rounded rounded-pill border">
                    <input type="text" class="form-control rounded rounded-pill border-0" placeholder="Add a comment......" (keydown)="enterComment($event)">
                    <a href="javascript:void(0)" class="text-decoration-none px-2"  data-bs-toggle="tooltip"
                    data-bs-placement="right" title="Open emoji keyboard">
                      <i class="fa-regular fa-face-smile"></i>
                    </a>
                    <a href="javascript:void(0)" class="text-decoration-none pe-3 ps-2">
                      <i class="fa-regular fa-image"></i>
                    </a>
                  </div>
                </div>
                <div class="text-start mt-2 d-none">
                  <button class="btn btn-primary-c btn-sm rounded rounded-pill px-3">post</button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="posts == null || posts.length == 0">
            <div class="card shadow mt-3 p-3">
              <h3 class="my-5 py-5 text-dark fw-bold text-center">Record Not Found</h3>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 position-sticky sticky-sidebar">
        <div class="card p-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-10 col-md-9 col-sm-8 text-truncate">
              Manage Pages and profiles
            </div>
            <div class="col-auto">
              <a href="javascript:void(0)" class="text-decoration-none">
                <i class="fa-solid fa-ellipsis"></i>
              </a>
            </div>
          </div>
          <div class="col-md-12 d-flex align-items-center mt-2 mb-3">
            <div class="col-md-1 overfloe-hidden">
              <img src="assets/face.jpg" alt="" class="rounded rounded-circle" width="100%">
            </div>
            <span class="ps-3 fw-bold">{{userName | titlecase}}</span>
          </div>
          <div class="text-start mt-3">
            <a href="javascript:void(0)" class="text-decoration-none text-muted" (click)="loadData()">
              <i class="fa-solid fa-house"></i>
              <span class="px-2 mb-0 fw-normal text-truncate">Home</span>
              <i class="fa-solid fa-circle-exclamation"></i>
            </a>
          </div>
          <div class="text-start mt-3">
            <a href="javascript:void(0)" class="text-decoration-none text-muted" (click)="getMyPost()">
              <i class="fa-solid fa-earth-americas"></i>
              <span class="px-2 mb-0 fw-normal text-truncate">My Post</span>
              <i class="fa-solid fa-circle-exclamation"></i>
            </a>
          </div>
          <div *ngFor="let item of rightMenu" class="row align-items-center justify-content-between text-muted mt-3">
            <div class="col-auto">
              <a href="javascript:void(0)" class="text-decoration-none d-flex align-items-center text-muted">
                <i class="{{item.Icon}}"></i>
                <div class="px-2 mb-0 fw-normal text-truncate col-lg-10 col-md-9 col-sm-8">{{item.Title}}</div>
                <small>
                  <i class="fa-solid fa-circle-exclamation"></i>
                </small>
              </a>
            </div>
            <div class="col-auto ps-0">
              {{item.Total}}
            </div>
          </div>
          <hr>
          <div class="text-muted mt-1">
            <a href="javascript:void(0)" class="text-decoration-none d-flex align-items-center text-muted" (click)="gotoMainMenu()">
              <i class="fa-brands fa-mendeley"></i>
              <h6 class="px-2 mb-0 fw-normal">Main menu</h6>
              <small>
                <i class="fa-solid fa-circle-exclamation" data-bs-toggle="tooltip"
                data-bs-placement="right" title="Goto main menu"></i>
              </small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-3">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="postModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <textarea placeholder="What do you want to talk about?" rows="4" class="form-control"></textarea>
        <div class="my-3">
          <input type="file" id="uploadPost" multiple class="d-none" accept=".jpg, .jpeg, .png, video/mp4, video/x-m4v,video/*" (change)="uploadMessageImg($event)"/>
          <a href="javascript:void(0)" class="text-decoration-none" (click)="fireBrowserFile()">
            <i class="fa-regular fa-image"></i>
            <span class="ps-2">Media</span>
          </a>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="savePost()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--Manage Post Job Modal -->
<div class="modal fade" id="postJobModal" tabindex="-1" aria-labelledby="postJobModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content px-3">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="postJobModalLabel">Post Job</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <form [formGroup]="postJobForm" *ngIf="postJobForm">
          <div class="col-md-12">
            <label class="form-label">Short Description</label>
            <textarea class="form-control" formControlName="ShortDescription" placeholder="Short Description" maxlength="250" rows="2"></textarea>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">Complete Description</label>
            <textarea class="form-control" formControlName="CompleteDescription" placeholder="Complete Description" rows="4"></textarea>
          </div>
          <div class="mt-3 row">
            <div class="col-md-3">
              <label class="form-label">Catagory Type</label>
              <select class="form-select" formControlName="CatagoryTypeId">
                <option value="0" disabled >Select Catagory Type</option>
                <option [value]="item.JobTypeId" *ngFor="let item of jobTypes">{{item.JobTypeName}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label">Country</label>
              <select class="form-select" formControlName="CountryId">
                <option value="0" disabled >Select Country</option>
                <option [value]="item.Id" *ngFor="let item of contries">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label">Bonus</label>
              <input type="text" class="form-control" formControlName="Bonus" placeholder="Bonus" [OnlyNumber]="5">
            </div>
            <div class="col-md-3">
              <label class="form-label">Salary Currency</label>
              <select class="form-select" formControlName="SalaryCurrency">
                <option value=null disabled>Select Salary Currency</option>
                <option [value]="item.Name" *ngFor="let item of currencies">{{item.Name}}</option>
              </select>
            </div>
          </div>
          <section class="accordion mt-4">
            <div class="tab">
              <input type="checkbox" class="input-tab" name="accordion-1" id="cb1">
              <label for="cb1" class="tab__label">Allowance</label>
              <div class="tab__content mx-1">
                <div class="mt-3 row align-items-center justify-content-between">
                  <div class="col-md-4 mb-3 ms-1 row align-items-center">
                    <div class="form-check col-auto">
                      <input class="form-check-input" type="checkbox" formControlName="IsHRAAllowance" id="IsHRAAllowance">
                      <label class="form-check-label text-dark" for="IsHRAAllowance">
                        HRA
                      </label>
                    </div>
                    <div class="col">
                      <input type="text" [readOnly]="f['IsHRAAllowance'].value == false" class="form-control" formControlName="HRAAllowanceAmount" placeholder="HRA Amount" [OnlyNumber]="10">
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 row align-items-center">
                    <div class="form-check col-auto">
                      <input class="form-check-input" type="checkbox" formControlName="IsTravelAllowance" id="IsTravelAllowance">
                      <label class="form-check-label text-dark" for="IsTravelAllowance">
                        Travel
                      </label>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" [readOnly]="f['IsTravelAllowance'].value == false"  formControlName="TravelAllowanceAmount" placeholder="Travel Amount" [OnlyNumber]="10">
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 row align-items-center">
                    <div class="form-check col-auto">
                      <input class="form-check-input" type="checkbox" formControlName="IsFoodAllowance" id="IsFoodAllowance">
                      <label class="form-check-label text-dark" for="IsFoodAllowance">
                        Food
                      </label>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" [readOnly]="f['IsFoodAllowance'].value == false" formControlName="FoodAllowanceAmount" placeholder="Food Amount" [OnlyNumber]="10">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="row mt-3">
            <div class="col-md-4">
              <fieldset>
                <legend>Age Limit:</legend>
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label">Min</label>
                    <input type="text" class="form-control" formControlName="MinAgeLimit" placeholder="Min Age Limit" [OnlyNumber]="2">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Max</label>
                    <input type="text" class="form-control" formControlName="MaxAgeLimit" placeholder="Max Age Limit" [OnlyNumber]="2">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset>
                <legend>CTC:</legend>
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label">Min</label>
                    <input type="text" class="form-control" formControlName="MinimunCTC" placeholder="Minimun CTC" [OnlyNumber]="10">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Max</label>
                    <input type="text" class="form-control" formControlName="MaximunCTC" placeholder="Maximum CTC" [OnlyNumber]="10">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <div class="col-md-12">
                <label class="form-label">No of Posts</label>
                <input type="text" class="form-control" formControlName="NoOfPosts" placeholder="NoOfPosts" [OnlyNumber]="5">
              </div>
              <div class="col-md-12">
                <label class="form-label">Contract Period In Months</label>
                <input type="text" class="form-control" formControlName="ContractPeriodInMonths" placeholder="Contract Period In Months" [OnlyNumber]="5">
              </div>
            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-md-4">
              <fieldset>
                <legend>Foreign Return:</legend>
                <div class="row align-items-center">
                  <div class="form-check col-auto ms-2">
                    <input class="form-check-input" type="checkbox" formControlName="IsForeignReturnCompulsory" id="IsForeignReturnCompulsory">
                    <label class="form-check-label" for="IsForeignReturnCompulsory">
                      Compulsory
                    </label>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" [readOnly]="f['IsForeignReturnCompulsory'].value == false" formControlName="MinimunDaysRequired" placeholder="Minimun Days Required" [OnlyNumber]="10">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset>
                <legend>Over Time:</legend>
                <div class="row align-items-center">
                  <div class="form-check col-auto ms-2">
                    <input class="form-check-input" type="checkbox" formControlName="IsOTIncluded" id="IsOTIncluded">
                    <label class="form-check-label" for="IsOTIncluded">
                      Include
                    </label>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" [readOnly]="f['IsOTIncluded'].value == false" formControlName="MaxOTHours" placeholder="Maximum OT Hours" [OnlyNumber]="1">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="row col-md-4">
              <span class="ps-3 fw-bold text-dark" *ngIf="isFilesizeExceed">File size is exceed from 6MB</span>
              <span class="ps-3 fw-bold text-dark">{{fileDetail.length > 0 ? fileDetail.length : 0}} file selected</span>
              <div class="col-md-12">
                <input type="file" id="uploadPost" multiple class="d-none" accept=".jpg, .jpeg, .png, image/gif, video/mp4, video/x-m4v,video/*" (change)="uploadMessageImg($event)"/>
                <button class="btn btn-secondary" (click)="fireBrowserFile()">Browse File</button>
                <button class="btn btn-outline-danger ms-2" (click)="cleanFile()">
                  <i class="fa-solid fa-eraser pe-1"></i>
                  Clean file
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-3" *ngIf="uploadedFile.length > 0">
            <div class="col-md-2 mt-2 img-view-container" *ngFor="let item of uploadedFile" ngClass="position-relative">
              <ng-container *ngIf="item.Format == 'image'">
                <img [src]="item.FilePath" alt="" srcset="" class="" width="100%">
              </ng-container>
              <ng-container *ngIf="item.Format == 'video'">
                <video [src]="item.FilePath" style="width: 98%; height: 12vh;" controls></video>
              </ng-container>
              <i class="fa-solid fa-xmark remove-img-icon d-none position-absolute" (click)="deleteImgConformPopup(item)"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button class="btn btn-danger" data-bs-dismiss="modal" (click)="reset()">
          <i class="fa-solid fa-ban"></i>
          Reset</button>
        <button class="btn btn-primary-c ms-3" [disabled]="isLoading || isFilesizeExceed" (click)="saveJobPost()">
          <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          {{ isLoading ? 'Processing' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>
