.hero-bg {
  background-image: url('../../../assets/img/hero/small-hero-bg.png');
  background-repeat: no-repeat;
}

.how-apply-bg{
  background-image: url('../../../assets/img/gallery/how-applybg.png');
  background-repeat: no-repeat;
}

.select-itms{
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 0px;
  padding: 11px 19px 11px 10px;
  color: #616875;
  line-height: 54px;
  border: 0;
}

.btn {
  background: #fb246a !important;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff !important;
  cursor: pointer;
  display: inline-block !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  line-height: 0 !important;
  padding: 27px 44px !important;
  border-radius: 0px !important;
  margin: 10px !important;
  cursor: pointer;
  transition: color 0.4s linear !important;
  position: relative !important;
  z-index: 1 !important;
  border: 0 !important;
  overflow: hidden;
  margin: 0 !important;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #da2461;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0
}

.btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none
}

.btn {
  background: #fb246a !important;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff !important;
  cursor: pointer;
  display: inline-block !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  line-height: 0 !important;
  padding: 27px 44px !important;
  border-radius: 0px !important;
  margin: 10px !important;
  cursor: pointer;
  transition: color 0.4s linear !important;
  position: relative !important;
  z-index: 1 !important;
  border: 0 !important;
  overflow: hidden;
  margin: 0 !important;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #da2461;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0
}

.btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none
}

.btn {
  background: #fb246a !important;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff !important;
  cursor: pointer;
  display: inline-block !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  line-height: 0 !important;
  padding: 27px 44px !important;
  border-radius: 0px !important;
  margin: 10px !important;
  cursor: pointer;
  transition: color 0.4s linear !important;
  position: relative !important;
  z-index: 1 !important;
  border: 0 !important;
  overflow: hidden;
  margin: 0 !important;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #da2461;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0
}

.btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none
}


@media only screen
and (min-width : 554px)
{
  .our-services .single-services .services-ion span {
      font-size: 6rem;
  }

  .our-services .single-services {
    padding: 0 0;
  }
  .single-slider {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen
and (min-width : 1204px)
{
  .hero-bg {
    background-image: url('../../../assets/img/hero/h1_hero.jpg');
  }
}


@media (max-width: 767px) {
  form.search-box .input-form input {
    height: 50px;
  }

  .select-itms{
    height: 50px;
    padding: 0px 19px 11px 10px;
  }
}
