<div class="vh-100 overflow-hidden">
  @if (!isAccountSetup) {
    <app-navbar></app-navbar>
  }
  <div class="container-scroller h-100 w-100" [ngClass]="{'d-flex': !isAccountSetup}">
    <div class="l-panel" [ngClass]="{'d-none': (isIndexPage || isAccountSetup)}">
      <app-sidemenu></app-sidemenu>
    </div>
    <div [ngClass]="{'col-md-12': (isIndexPage || isAccountSetup), 'r-panel': (!isIndexPage && !isAccountSetup)}">
      <div class="" [ngClass]="{'content-wrapper': !isAccountSetup}">
        <app-loader></app-loader>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
