<!-- <p>navbar works!</p> -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <div class="col-auto collape-container">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mt-2 mt-lg-0 ms-3" href="javascript:void(0)">
          <img src="assets/img/logo/logo.png" height="50" alt="MDB Logo" loading="lazy"/>
        </a>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-dark">
            <li class="nav-item ms-4">
              <a href="javascript:void(0)" class="nav-link" [routerLink]="['/home']" routerLinkActive="active" href="javascript:void(0)">Home</a>
            </li>
            <li class="nav-item ms-4">
              <a href="javascript:void(0)" class="nav-link" [routerLink]="['/joblisting']" routerLinkActive="active"  href="javascript:void(0)">Find a Job</a>
            </li>
            <li class="nav-item ms-4">
              <a href="javascript:void(0)" class="nav-link" [routerLink]="['/about']" routerLinkActive="active" href="javascript:void(0)">About</a>
            </li>
            <li class="nav-item ms-4">
              <!-- <a class="nav-link" href="javascript:void(0)">Contact</a> -->
              <a [ngbPopover]="popContent" class="nav-link" href="javascript:void(0)"  triggers="mouseenter">Page</a>
            </li>
            <li class="nav-item ms-4">
              <a href="javascript:void(0)" class="nav-link" [routerLink]="['/contact']" routerLinkActive="active" href="javascript:void(0)">Contact</a>
            </li>
          </ul>
          <ng-template #popContent>
            <ul class="p-0 list-group" style="min-width: 8vw !important;" trigger="mouseleave">
              <li class="list-group-item border-0">
                <a href="javascript:void(0)" class="text-decoration-none text-dark" [routerLink]="['/blog']" routerLinkActive="active">
                  Blog
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="javascript:void(0)" class="text-decoration-none text-dark" [routerLink]="['/blogdetail']" routerLinkActive="active">
                  Blog Details
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="javascript:void(0)" class="text-decoration-none text-dark" [routerLink]="['/elements']" routerLinkActive="active" >
                  Elements
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="javascript:void(0)" class="text-decoration-none text-dark" [routerLink]="['/jobdetail']" routerLinkActive="active">
                  Job Detail
                </a>
              </li>
            </ul>
          </ng-template>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <div class="col-auto">
          <button class="btn theme-bg btn-outline-danger my-2 my-sm-0" (click)="loginPopup()">Login</button>
        </div>
        <!-- <div class="col-auto ms-3">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Register</button>
        </div> -->
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="loginModalLabel">Login Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink  (click)="changeTab()">Sign In</button>
            <ng-template ngbNavContent>
              <div class="mt-3">
                <label class="form-label">Email or Mobile</label>
                <input type="text" id="EmailOrMobile" class="form-control" placeholder="Enter your email or mobile no">
              </div>
              <div class="my-3">
                <label class="form-label">Password</label>
                <div class="position-relative p-0 m-0 form-group">
                  <input type="password" (keyup.enter)="UserLogin()" class="form-control" placeholder="Password" id="Password"
                    name="SignInPassword">
                    <a href="javascript:void(0)" class="view-c d-none" (click)="hidePassword($event)">
                      <i class="fa-regular fa-eye"></i>
                    </a>
                    <a href="javascript:void(0)" class="view-c" (click)="showPassword($event)">
                      <i class="fa-regular fa-eye-slash" aria-hidden="true"></i>
                    </a>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label>
                </div>
                <a href="javascript:void(0)">Forgot Password</a>
              </div>
              <div class="d-flex align-items-center justify-content-evenly mt-3">
                <div class="col-md-6 px-3">
                  <button type="button" class="btn login-btn w-100" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close</button>
                </div>
                <div class="col-md-6 px-3">
                  <button class="btn btn-custom-pink login-btn w-100" [disabled]="isLoading" (click)="UserLogin()">
                    <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Sign In' }}
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>Sign Up</button>
            <ng-template ngbNavContent>
              <form [formGroup]="signUpForm">
                <div class="mt-3">
                  <label class="form-label">Full Name</label>
                  <input type="text" class="form-control" formControlName="fullName" placeholder="Enter your full name">
                </div>
                <div class="mt-3">
                  <label class="form-label">Mobile</label>
                  <input type="number" class="form-control" formControlName="mobile" placeholder="Enter your mobile no" maxlength="10"
                  oninput="this.value = this.value.slice(0, this.maxLength);">
                </div>
                <div class="mt-3">
                  <label class="form-label">Email</label>
                  <input type="email"  class="form-control" formControlName="email" placeholder="Enter your email ">
                </div>
                <div class="my-3">
                  <label class="form-label">Password</label>
                  <div class="position-relative p-0 m-0 form-group">
                    <input type="password" (keyup.enter)="UserLogin()" formControlName="password" class="form-control" placeholder="Password"
                      name="password">
                      <a href="javascript:void(0)" class="view-c d-none" (click)="hidePassword($event)">
                        <i class="fa-regular fa-eye"></i>
                      </a>
                      <a href="javascript:void(0)" class="view-c" (click)="showPassword($event)">
                        <i class="fa-regular fa-eye-slash" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="my-3">
                  <label class="form-label">Confirm Password</label>
                  <div class="position-relative p-0 m-0 form-group">
                    <input type="password" (keyup.enter)="UserLogin()" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"
                      name="confirmPassword">
                      <a href="javascript:void(0)" class="view-c d-none" (click)="hidePassword($event)">
                        <i class="fa-regular fa-eye"></i>
                      </a>
                      <a href="javascript:void(0)" class="view-c" (click)="showPassword($event)">
                        <i class="fa-regular fa-eye-slash" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
              </form>
              <div class="d-flex align-items-center justify-content-evenly mt-3">
                <div class="col-md-6 px-3">
                  <button type="button" class="btn login-btn w-100" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close</button>
                </div>
                <div class="col-md-6 px-3">
                  <button class="btn btn-custom-pink login-btn w-100" [disabled]="isLoading" (click)="signUp()">
                    <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Sign Up' }}
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class=" mt-3">
          <p class="my-3 mx-3 text-center hr-lines">OR</p>
          <div class="d-flex align-items-center justify-content-center">
            <div id="google-oauth" class="mb-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
