<div class="col-12 full-v main-container">
    <div class="col-12 row p-0 m-0">
      <div class="right-panel container col-md-12 p-0">
        <div class="x_panel mt-2">
          <div class="x_header">
            <div class="d-flex justify-content-between">
              <div class="col-8">
                <div class="px-1">
                  <app-breadcrums [title]="'Employee'" [subtitle]="'Details'"></app-breadcrums>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="isReady">
            <div class="x_content">
             <form [formGroup]="employeeForm">
                <div class="col-12 row">
                    <div class="col-md-4 mt-3">
                      <label class="form-label">First Name</label>
                      <input type="text" formControlName="firstName" placeholder="First Name" class="form-control" oninput="this.value = this.value.toUpperCase()" maxlength="250"
                      [ngClass]="{'error-field': submitted && f.firstName.errors !== null && f.firstName.errors.required}">
                    </div>
                    <div class="col-md-4 mt-3">
                      <label class="form-label">Last Name</label>
                      <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control" oninput="this.value = this.value.toUpperCase()" maxlength="250"
                      [ngClass]="{'error-field': submitted && f.lastName.errors !== null && f.lastName.errors.required}">
                    </div>
                    <div class="col-md-4 mt-3">
                      <label class="form-label">Email</label>
                      <input type="email" placeholder="Email" formControlName="email" class="form-control" maxlength="75"
                      [ngClass]="{'error-field': submitted && f.email.errors !== null && f.email.errors.required}">
                    </div>
                </div>
                <div class="row col-md-12">
                  <div class="col-md-4 mt-3">
                    <label class="form-label">Mobile</label>
                    <input type="text" placeholder="Mobile" formControlName="mobile" class="form-control" maxlength="75"
                    [ngClass]="{'error-field': submitted && f.mobile.errors !== null && f.mobile.required}">
                  </div>
                  <div class="col-md-4 mt-3">
                    <label class="form-label">Alternate Mobile</label>
                    <input type="text" placeholder="Alternate Number" formControlName="alternateNumber" class="form-control" maxlength="75"
                    [ngClass]="{'error-field': submitted && f.alternateNumber.errors !== null && f.alternateNumber.required}">
                  </div>
                  <div class="col-md-4 mt-3">
                    <label class="form-label">Role</label>
                    <input type="text" formControlName="roleId" placeholder="Role Id" class="form-control" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                    [ngClass]="{'error-field': submitted && f.roleId.errors !== null && f.roleId.errors.required}">
                  </div>
                </div>
                <div class="row col-md-12">
                  <div class="col-md-4 mt-3">
                    <label class="form-label">Designation</label>
                    <input type="text" formControlName="designationId" placeholder="Designation Id" class="form-control" OnlyNumber="5" maxlength="50"
                    [ngClass]="{'error-field': submitted && f.designationId.errors !== null && f.designationId.errors.required}">
                  </div>
                  <div class="col-md-4 mt-3">
                    <label class="form-label">Reportee</label>
                    <input type="text" formControlName="reporteeId" placeholder="Reportee Id" class="form-control" OnlyNumber="5" maxlength="50"
                    [ngClass]="{'error-field': submitted && f.reporteeId.errors !== null && f.reporteeId.errors.required}">
                  </div>
                </div>
                <div class="col-12 row m-0 mt-5">
                  <div class="col-md-6">
                    <div class="x_panel">
                      <div class="x_header">
                        <div class="x_header_title">
                          <h2>Personal Detail<small>Fill employee personal details</small></h2>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3 row m-0 p-3 pb-1">
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Father Name *</label>
                          <input class="form-control" placeholder="Father Name" name="fatherName" transform="" oninput="this.value = this.value.toUpperCase()" maxlength="40"
                          [ngClass]="{'error-field': submitted && f.fatherName.errors !== null && f.fatherName.errors.required}" formControlName="fatherName"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Mother Name</label>
                          <input class="form-control" placeholder="Mother Name" name="motherName" transform="" oninput="this.value = this.value.toUpperCase()" maxlength="40"
                            formControlName="motherName" />
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Country</label>
                          <input class="form-control" placeholder="Country" name="country" oninput="this.value = this.value.toUpperCase()" maxlength="40"
                            formControlName="country"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">State</label>
                          <input class="form-control" placeholder="State" name="state" formControlName="state" oninput="this.value = this.value.toUpperCase()" maxlength="40" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">City</label>
                          <input class="form-control" placeholder="City" name="city" formControlName="city" oninput="this.value = this.value.toUpperCase()" maxlength="40" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Pincode</label>
                          <input class="form-control" placeholder="Pincode" OnlyNumber="6" name="pinCode" onkeypress="return event.charCode >=48 && event.charCode <=57"
                            formControlName="pinCode" />
                        </div>
                        <div class="col-md-12 mb-3">
                          <label class="form-label">Address</label>
                          <textarea rows="5" class="form-control address-box" placeholder="Address" name="address" oninput="this.value = this.value.toUpperCase()" [rows]="3"
                            formControlName="address" maxlength="100"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="x_panel">
                      <div class="x_header">
                        <div class="x_header_title">
                          <h2>Account Detail<small>Fill employee account details</small></h2>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3 row m-0 p-3 pb-1">
                        <div class="col-md-12 mb-3">
                          <label class="form-label">Bank Account No.# *</label>
                          <input class="form-control" placeholder="Bank Account No.#" name="accountNo" OnlyNumber="34" onkeypress="return event.charCode >=48 && event.charCode <=57"
                            [ngClass]="{'error-field': submitted && f.accountNo.errors !== null && f.accountNo.errors.required}" formControlName="accountNo" />
                        </div>
                        <div class="col-md-12 mb-3">
                          <label class="form-label">Bank Name *</label>
                          <input class="form-control" placeholder="Bank Name" name="bankName" transform="" oninput="this.value = this.value.toUpperCase()" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"
                            [ngClass]="{'error-field': submitted && f.bankName.errors !== null && f.bankName.errors.required}" formControlName="bankName" maxlength="40"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">IFSC Code *</label>
                          <input class="form-control" placeholder="IFSC Code" name="ifscCode" onkeypress="return (event.charCode >=48 && event.charCode <=57) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                            [ngClass]="{'error-field': submitted && f.ifscCode.errors !== null && f.ifscCode.errors.required}" oninput="this.value = this.value.toUpperCase()" formControlName="ifscCode" maxlength="11"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Branch (Optional)</label>
                          <input class="form-control" placeholder="Branch name" name="branch" onkeypress="return (event.charCode >=48 && event.charCode <=57) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                            oninput="this.value = this.value.toUpperCase()" formControlName="branch" maxlength="40"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 row m-0 mt-3 px-3">
                  <div class="col-md-6">
                    <div class="x_panel x-panel-changed">
                      <div class="x_header">
                        <div class="x_header_title">
                          <h2>Professional Detail <small>Fill employee professional details</small></h2>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3 row m-0 p-3 pb-1">
                        <div class="col-md-6 mb-3">
                          <label class="form-label">PAN No. # *</label>
                          <input class="form-control" placeholder="PAN card no.#" name="pan" [ngClass]="{'error-field': submitted && f.pAN.errors !== null && f.pAN.errors.required}" maxlength="10"
                            oninput="this.value = this.value.toUpperCase()" formControlName="pan" onkeypress="return (event.charCode >=48 && event.charCode <=57) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Aadhar No. #</label>
                          <input class="form-control" placeholder="Aadhar No. #" name="aadhar" OnlyNumber="16" formControlName="aadhar" onkeypress="return event.charCode >=48 && event.charCode <=57"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Passport No. # *</label>
                          <input class="form-control" placeholder="Passport no.#" name="passportNumber" [ngClass]="{'error-field': submitted && f.passportNumber.errors !== null && f.passportNumber.errors.required}" maxlength="25"
                            oninput="this.value = this.value.toUpperCase()" formControlName="passportNumber" onkeypress="return (event.charCode >=48 && event.charCode <=57) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Work Exprience in Month</label>
                          <input class="form-control" placeholder="Month's of Exprience" OnlyNumber="3" onkeypress="return event.charCode >=48 && event.charCode <=57"
                            name="experienceInMonths" formControlName="experienceInMonths"  [ngClass]="{'error-field': submitted && f.experienceInMonths.errors !== null && f.experienceInMonths.errors.required}"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Last Working Date</label>
                          <form class="form-inline">
                            <div class="form-group w-100">
                              <div class="input-group inline-calendar w-100">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="lastWorkingDate" [minDate]="{year: 1970, month:1, day: 1}" [maxDate]="{year: 2050, month:1, day: 19}"
                                  [(ngModel)]="lastWorkingDatemodel" (dateSelect)="onLastWorkingDateSelection($event)" ngbDatepicker
                                  #lastWorkingDate="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn calendar" (click)="lastWorkingDate.toggle()"
                                    type="button"><i class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Job Type</label>
                          <input class="form-control" placeholder="Job Type" name="jobTypeId" transform=""
                            [ngClass]="{'error-field': submitted && f.jobTypeId.errors !== null && f.jobTypeId.errors.required}" formControlName="jobTypeId" maxlength="40"/>
                        </div>
                        <div class="col-md-12 mb-3">
                          <label class="form-label">Last Company Name</label>
                          <input class="form-control" placeholder="Last Company Name" name="lastCompanyName" transform="" oninput="this.value = this.value.toUpperCase()" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"
                            [ngClass]="{'error-field': submitted && f.lastCompanyName.errors !== null && f.lastCompanyName.errors.required}" formControlName="lastCompanyName" maxlength="40"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Designation</label>
                          <input class="form-control" placeholder="Designation" name="designation" transform="" oninput="this.value = this.value.toUpperCase()" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"
                            [ngClass]="{'error-field': submitted && f.designation.errors !== null && f.designation.errors.required}" formControlName="designation" maxlength="40"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Salary</label>
                          <input class="form-control" placeholder="Salary" name="salary" OnlyNumber="15" onkeypress="return event.charCode >=48 && event.charCode <=57"
                            [ngClass]="{'error-field': submitted && f.salary.errors !== null && f.salary.errors.required}" formControlName="salary" maxlength="40"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Expected Salary</label>
                          <input class="form-control" placeholder="Expected Salary" name="expectedSalary" OnlyNumber="15" onkeypress="return event.charCode >=48 && event.charCode <=57"
                            [ngClass]="{'error-field': submitted && f.expectedSalary.errors !== null && f.expectedSalary.errors.required}" formControlName="expectedSalary" maxlength="40"/>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Expected Designation</label>
                          <input class="form-control" placeholder="Expected Designation" name="expectedDesignation" transform="" oninput="this.value = this.value.toUpperCase()" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"
                            [ngClass]="{'error-field': submitted && f.expectedDesignation.errors !== null && f.expectedDesignation.errors.required}" formControlName="expectedDesignation" maxlength="40"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="x_panel x-panel-changed">
                      <div class="x_header">
                        <div class="x_header_title">
                          <h2>Medical Detail <small>Fill employee medical details</small></h2>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3 row m-0 p-3 pb-1">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-end">
                  <button class="btn btn-danger" (click)="reset()">
                    <i class="fa-solid fa-ban"></i>
                    Reset</button>
                  <button class="btn btn-custom-pink ms-3" [disabled]="isLoading" (click)="addEmployee()" *ngIf="employeeDetail.employeeId == 0">
                    <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
                    {{ isLoading ? 'Processing' : 'Add' }}
                  </button>
                  <button class="btn btn-custom-pink ms-3" [disabled]="isLoading" (click)="updateEmployee()" *ngIf="employeeDetail.employeeId > 0">
                    <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
                    {{ isLoading ? 'Processing' : 'Update' }}
                  </button>
                </div>
             </form>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Employee Register or Update message modal -->
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="messageModalEmployee" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="p-2 modal-content">
        <div class="modal-body text-dark d-flex align-items-center mb-0 pb-0">
          <div class="wrapper-checkmark me-3">
            <svg class="checkmark-register" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
          </div>
          Congratulation!! Employee detail registered/ updated successfully!
        </div>
        <div class="modal-footer mt-0 pt-0 border-top-0">
          <a href="javascript:void(0)" class="text-decoration-none text-dark fw-bold" (click)="gotoEmployeePage()">OK</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

