.navbar-container {
  height: 4rem !important;
  background-image: url("../../../assets/new_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-xl{
  width: 60px!important;
  height: 60px!important;
}

a {
  color: var(--primary-dark)!important;
}